<template>
    <h2>Contenedor visualizador</h2>
    <ul class="list-group">
        <ul class="list-group-item">
            <li class="list-group-item" v-for="post in data" :key="post.id">
                <ListRender :content="post.body"></ListRender>
            </li> 
        </ul>
    </ul>
</template>

<script lang="ts" setup>
import { ref,Ref,onMounted } from 'vue'
import ListRender from '../components/ListRender.vue'
import { IPost } from "../interfaces/IPost"

const data:Ref<Array<IPost>> =ref([])

onMounted(async()=>{
    const response=await fetch('https://jsonplaceholder.typicode.com/posts')
    data.value=await response.json()
})
</script>

<style scoped></style>