<template>
    <h2>Higher Order Component (HOC)</h2>
    <LoaderHelper :url="myApi" :component-to-show="ExampleComponent"/>
</template>

<script lang="ts" setup>
import LoaderHelper from '../components/LoaderHelper.vue';
//se pasa el componente que mostrará los datos que se cargan desde el origen entregado
import ExampleComponent from '../components/ExampleComponent.vue'

//se pasa el origen de datos
const myApi="https://google.com"

</script>

<style scoped>

</style>