<template>
    <h1>Provider / Inject</h1>
    <p>I am a father</p>
    <button @click="updateMsg">Update message</button>
    <FirstChild></FirstChild>
</template>

<script lang="ts" setup>
import { ref,provide } from 'vue'
import FirstChild from '../components/FirstChild.vue'

const msg=ref('Hi from the Father')

const updateMsg=()=> msg.value='Msg Updated'

provide('msg',msg)

</script>
<style scoped>

</style>