<template>
    <h2>Servicios</h2>
    <ul class="list-group">
        <ul class="list-group-item">
            <li class="list-group-item" v-for="post in data" :key="post.id">
                <ListRender :content="post.body" color="red"></ListRender>
            </li> 
        </ul>
    </ul>
</template>

<script lang="ts" setup>
import { ref,Ref,onMounted } from 'vue'
import ItemsService from '../services/ItemsService';
import ListRender from '../components/ListRender.vue'
import { IPost } from "../interfaces/IPost"

const data:Ref<Array<IPost>> =ref([])
const service=new ItemsService()

onMounted(async()=>{
        data.value=await service.getItems()
    
})

</script>

<style scoped>

</style>