<template>
    <div :style="{'color':props.color}">{{ props.content }}1</div>
</template>

<script lang="ts" setup>
import { defineProps } from 'vue'
const props = defineProps(['content','color'])
</script>
<style scoped>

</style>