<template>
    <h1>Loader Helper</h1>
    <div v-if="!data">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <component v-else :is="props.componentToShow" :data="data"/>
</template>

<script lang="ts" setup>
import { ref,onMounted } from 'vue'

const props=defineProps(['url','componentToShow'])
const data=ref()

onMounted(async() => {
    data.value=await fetch(props.url)
})

</script>

<style scoped>

</style>