<template>
    <h1>Second child</h1>
    <p>Values from father: {{ msg }}</p>
</template>

<script lang="ts" setup>
import { inject } from 'vue'

const msg=inject('msg')

</script>

<style scoped>

</style>