<template>
  <div class="container text-bg-primary">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <router-link class="nav-link" :to="{name:'hoc'}" >Higher Order Component (HOC)</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{name:'contenedor-visualizador'}" >Contenedor visualizador</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{name:'servicios'}" >Servicios</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{name:'provider-inject'}" >Provider / Inject</router-link>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <h1>Patrones de diseño</h1>
    <router-view></router-view>
  </div>
  
</template>

<script lang="ts" setup>
import { RouterView } from 'vue-router';

</script>

<style scoped>

</style>